.header {
    height: 293px;
    width: 1100px;
    padding-left: 50px;
    padding-right: 50px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
}

.logo {
    height: 105px;
    width: 148px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu-items {
    display: flex; 
    justify-content: start; /*выравнивание по левому краю*/
    gap: 28px; /* расстояние между пунктами */
    padding: 0; /* убираем стандартные отступы */
    margin: 0; /* убираем стандартные отступы */
    list-style: circle;
    font-size: 18px;
}

.menu-items a {
    text-decoration: none;
}

.menu-item-main {
    list-style: none;
    text-decoration: none;
}

.menu-item-lots {
    padding-left: 4px;
    gap: 30px;
    text-decoration: underline;
    text-underline-offset: 4px;
    
}

.menu-item-about {
    padding-left: 5px;
    margin-left: 2px;
    text-decoration: underline;
    text-underline-offset: 4px;

}

.contact-list {
    justify-self: end; 
    text-align: right; 
    display: flex;
    flex-direction: column;
     gap: 8px;
    font-style: normal;
    font-size: 18px;
    margin-right: 50px;

}

.contact-list{
    justify-self: end;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-style: normal;
}

.cover {
    background-image: url("../images/cover.jpg");
    background-position: center top;
    background-size: cover;
    width: 1100px;
    min-height: 757px;
    position: relative;
}

.overlay {
    position:absolute;
    /* width: 1100px;
    min-height: 757px; */
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.cover-label {
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 100px;
    font-family: 'Raleway', Arial, sans-serif;
    text-transform: uppercase;
    padding-top: 165px;
    z-index: 1;
    letter-spacing: 30px;
}

.first-label {
    padding-left: 50px;
    letter-spacing: 30%;
}

.second-label {
    padding-top: 300px;
    padding-left: 380.5px;
    letter-spacing: 30%;
}

.third-label {
    padding-top: 435px;
    padding-left: 663px;
    letter-spacing: 30%;
}

.description {
    position: relative;
    display: flex;
    height: 51px;
    width: 1000px;
    padding-top: 668px;
    padding-left: 50px;
}

.subline {
    color: white;
    font-weight: 400;
    height: 30px;
    font-size: 22px;
    letter-spacing: 0%;
    word-spacing: 26px;
    text-transform: uppercase;
}

.bet-button {
    position: absolute;
    text-transform: uppercase;
    width: 256px;
    height: 51px;
    top: 656px;
    left: 794px;
    border: 1px solid white;
    border-color: white;
    background: transparent;
    color: white;
    font-size: 22px;
}

.lots {
    padding-top: 180px;
}

.lots-title {
    width: 121px;
    height: 47px;
    padding-left: 40px;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    padding-left: 64px;
}

.lots__card-list {
    list-style: none;
    display: flex;
    gap: 25px;
    padding-top: 27px;
    flex-wrap: wrap;
    justify-content: center;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;

}

.card-link {
    height: 100%;
}

.card {
    background-position: center top;
    background-size: cover;
    position: relative;
    height: 100%;
    width: 334px;
    height: 596px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    color: white;
    z-index: 1;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    padding-top: 48px;
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: underline;
    line-height: 1.2;
}

.lots__look-more-link {
    padding-left: 64px;
    margin-top: 30px;
    font-size: 20px;
    display: block;

    ttext-decoration: underline;
    text-underline-offset: 4px;
}

.card a {
    text-decoration: none;
}

.card__text {
    color: white;
    font-size: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 48px;
    z-index: 1;
    font-weight: 400;
    font-style: regular;
    margin-top: auto;
    line-height: 1.2;
}

.about {
    display: grid;
    height: 595px;
    width: 1052px;
    grid-template-columns: 318px auto;
    padding-left: 70px;
    margin-top: 120px;
}

.logo-column {
    padding-top: 34px;
}

.about__logo {
    background-color: black;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    background-image: url(../images/logo-white.svg); /* Исправьте на background-image */
    background-repeat: no-repeat; /* Чтобы изображение не повторялось */
    background-position: center;
    background-size: 148px;
    
}

.about__title {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    margin-left: -6px;
    padding-top: 136px;
}

.description_block {
    padding-top: 100px;
}

.about-desription {
    font-size: 20px;
    margin-left: -6px;
    height: 120px;
    width: 688px;
}

.second-description {
    padding-top: 24px;
    height: 168px;
    width: 693px;
}

.footer {
    display: grid;
    margin-top: 180px;
    height: 180px;
    width: 1100px;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
}

.contact-list-footer{
    text-align: left;
    justify-self: start;
    padding-left: 50px;
}

.menu-items-footer {
    text-decoration: none;
    list-style: none;
    gap: none;
    text-align: center;
    font-size: 18px;
}

.menu-items-footer a {
    text-decoration: none;
}

.footer-contacts {
    display: flex; /* Включаем flexbox */
    flex-direction: row; /* Горизонтальное расположение (по умолчанию) */
    gap: 48px; /* Расстояние между иконками */
    align-items: center; /* Выравнивание по вертикали */
}

.youtube,
.vk,
.pinterest {
    display: block;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.youtube {
    background-image: url(../images/yt.svg);
}

.vk {
    background-image: url(../images/vk.svg);
}

.pinterest {
    background-image: url(../images/pinterest.svg);
}